.banner {
  color: #fff;
  object-fit: contain;
  height: 448px;
}

@media (min-width: 1500px) {
  .banner {
    position: relative;
    height: 600px;
  }
  .banner_fadeBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40rem;
  }
}
